.sign {
  width: 100%;
  background-color: transparent;
  padding-top: 60px;
  padding-bottom:41px;
}

.sign__form-container {
  margin: 0 auto;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign__form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
/*  padding: 34px 36px 37px 36px;*/
  box-sizing: border-box;
}

.sign__submit-button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  border: 0;
  font-size: 18px;
  line-height: calc(21.78/18);
  font-weight: 400;
  width: 100%;
  height: 50px;
  margin-top: 186px;
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 2px;
}  

.sign__submit-button:hover {
  opacity: 0.85;
}

.sign__submit-button_inactive {
  transition: none;
  opacity: 0.2;
  background-color: transparent;
  color:#000;
  border: 1px solid #000;
  pointer-events: none;
}

.sign__input {
  margin: 0;
  background-color: transparent;
  padding: 0 0 5px 0;
  color: #fff;
  border: 0;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  font-size: 14px;
  line-height: calc(17/14);
  font-weight: 400;
  width: 100%;
}

.sign__input:focus {
  outline: none;
  background-color: transparent;
}

.sign__title {
  width: 100%;
  margin: 0;
  color: #fff;
  font-size: 24px;
  line-height: calc(29/24);
  font-weight: 900;
  text-align: center;
  margin-bottom: 14px;
}

@media (max-width:600px) {
  .sign__title {
    font-size: 18px;
    line-height: calc(21.78/18);
    margin-bottom: 74px;
  }
}

.sign__fieldset {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.sign__fieldset:first-of-type {
  margin-top:39px;
}

.sign__span-text {
  min-width: 100%;
  margin: 15px 0 0 0;
  color: white;
  font-size: 14px;
  line-height: calc(17/14);
  font-weight: 400;
  text-align: center;
}

.sign__link {
  color: white;
  text-decoration: none;
}